.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
out/**
node_modules/**
*.vsix
output/**
docs/**
scripts/**
samples/**
themes/theme-switcher.js
Dockerfile
.dockerignore
.github/**